version: 2.1

jobs:
  test-and-lint:
    docker:
      - image: cimg/python:3.8.10
    steps:
      - checkout
      - run:
          name: install dependencies
          command: pip install -r requirements.txt
      - checkout
      - run:
          name: commit files
          command: git config --local user.email "mike@mikeowino.com"
                   git config --local user.name "mikeyhodl"
                   git add -A
                   git commit -m "data update" -a

          # name: push changes
          # uses: ad-m/github-push-action@v0.6.0
          # with:
          #   github_token: ${{ secrets.GITHUB_TOKEN }}
          #   branch: main
                 
                  
workflows:
  build-and-test-workflow:
    jobs:
      - test-and-lint
